extends layout
block content
    h1 #{heading}
    p first paragraphxxx
    - console.log(coords);
    div#mapdiv
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    script.
        map = new OpenLayers.Map("mapdiv");
        map.addLayer(new OpenLayers.Layer.OSM());
        var zoom=16;
        // Set the centre
        var centrelonLat = new OpenLayers.LonLat( -0.1279688 ,51.5077286 )
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
          );
        map.setCenter (centrelonLat, zoom);

        var markers = new OpenLayers.Layer.Markers( "Markers" );
        map.addLayer(markers);

    for coord in coords 
        - console.log(coord)
        script.
            var lonLat = new OpenLayers.LonLat( '#{coord.lat}' ,'#{coord.long}' )
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
            );
            markers.addMarker(new OpenLayers.Marker(lonLat))

    
   